@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/mobile.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -------------------- FONT FAMILY ---------------------*/
@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url("../../../fonts/NeoSansPro-Regular.eot");
  src: url("../../../fonts/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Regular.woff") format("woff"), url("../../../fonts/NeoSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-Bold.eot");
  src: url("../../../fonts/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Bold.woff") format("woff"), url("../../../fonts/NeoSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-Light.eot");
  src: url("../../../fonts/NeoSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Light.woff") format("woff"), url("../../../fonts/NeoSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-Italic.eot");
  src: url("../../../fonts/NeoSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Italic.woff") format("woff"), url("../../../fonts/NeoSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'NeoSansPro-Medium';
  src: url("../../../fonts/NeoSansPro-Medium.eot");
  src: url("../../../fonts/NeoSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Medium.woff") format("woff"), url("../../../fonts/NeoSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-MediumItalic.eot");
  src: url("../../../fonts/NeoSansPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-MediumItalic.woff") format("woff"), url("../../../fonts/NeoSansPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* -------------------- VARIABLES ---------------------*/
/* -------------------- MIXINS ---------------------*/
/* line 103, ../sass/mobile-b.scss */
.select, .main-middle select, .main-right select {
  font-family: "NeoSansPro-Regular";
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 89%;
}

/* line 110, ../sass/mobile-b.scss */
.input_txt, .main-middle input[type='text'], .main-right input[type='text'], .main-middle input[type="text"] {
  font-family: "NeoSansPro-Regular";
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 89%;
}

/* line 117, ../sass/mobile-b.scss */
.textarea, .main-right textarea {
  font-family: "NeoSansPro-Regular";
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  resize: none;
  height: 150px;
}

/* -------------------- MAIN CSS ---------------------*/
/* line 130, ../sass/mobile-b.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "NeoSansPro-Regular" !important;
  font-size: 12px !important;
  color: #727376 !important;
  line-height: 20px;
}

/* line 138, ../sass/mobile-b.scss */
a {
  text-decoration: none;
  color: #727376 !important;
}
/* line 141, ../sass/mobile-b.scss */
a:hover {
  color: #cc0000 !important;
  text-decoration: none !important;
}

/* line 146, ../sass/mobile-b.scss */
p {
  margin-bottom: 10px;
}

/* line 149, ../sass/mobile-b.scss */
b {
  font-family: "NeoSansPro-Bold";
}

/* line 152, ../sass/mobile-b.scss */
.top-strip {
  background: #eeeeee;
}

/* line 155, ../sass/mobile-b.scss */
.top-strip-inner, .header-inner, .container-inner {
  padding: 7px;
}

/* line 158, ../sass/mobile-b.scss */
.top-strip-inner {
  text-align: left;
  font-size: 13px;
  line-height: 27px;
}

/* line 163, ../sass/mobile-b.scss */
.main-header, .main-container {
  width: 100%;
}

/* line 167, ../sass/mobile-b.scss */
.main-header .main-nav {
  position: relative;
}
/* line 169, ../sass/mobile-b.scss */
.main-header .main-nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  padding: 10px 15px;
  top: 60px;
  background: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  border: 1px solid #ffc2c2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  z-index: 200;
  display: none;
}
/* line 182, ../sass/mobile-b.scss */
.main-header .main-nav ul li {
  float: none;
  margin: 0 10px 0 0;
}
/* line 185, ../sass/mobile-b.scss */
.main-header .main-nav ul li a {
  line-height: 25px;
}

/* line 193, ../sass/mobile-b.scss */
.top-strip-inner .top-devider {
  display: inline-block;
  padding: 0 4px;
  font-size: 0;
}
/* line 198, ../sass/mobile-b.scss */
.top-strip-inner .top-text-fld {
  font-family: "NeoSansPro-Regular";
  margin: 0;
  border: 1px solid #eaeaea;
  padding: 3px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
/* line 206, ../sass/mobile-b.scss */
.top-strip-inner a {
  color: #727376;
}
/* line 208, ../sass/mobile-b.scss */
.top-strip-inner a:hover {
  color: #cc0000;
}
/* line 211, ../sass/mobile-b.scss */
.top-strip-inner a:focus {
  border: 1px solid #dadada;
}

/* line 216, ../sass/mobile-b.scss */
.responsive_sidebars {
  background: #ec3235;
  height: 40px;
  width: 100%;
  display: block;
  clear: both;
  border-bottom: 1px solid #cecece;
}
/* line 223, ../sass/mobile-b.scss */
.responsive_sidebars .left-bar {
  color: #ffffff;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
}
/* line 228, ../sass/mobile-b.scss */
.responsive_sidebars .left-bar i {
  font-size: 18px;
  float: right;
  line-height: 39px;
  font-weight: 100;
}
/* line 234, ../sass/mobile-b.scss */
.responsive_sidebars .left-bar .left-bar-title {
  font-size: 16px;
  float: left;
  text-transform: uppercase;
  line-height: 37px;
}
/* line 241, ../sass/mobile-b.scss */
.responsive_sidebars .right-bar {
  color: #ffffff;
  height: 40px;
  width: 100px;
  cursor: pointer;
  float: right;
  box-sizing: border-box;
}
/* line 248, ../sass/mobile-b.scss */
.responsive_sidebars .right-bar i {
  font-size: 15px;
  float: right;
  line-height: 35px;
}
/* line 253, ../sass/mobile-b.scss */
.responsive_sidebars .right-bar .right-bar-title {
  font-size: 13px;
  float: left;
  text-transform: uppercase;
  line-height: 37px;
}

/* line 261, ../sass/mobile-b.scss */
.main-left {
  float: left;
  padding: 4%;
  position: absolute !important;
  border: 1px solid #eeeeee;
  top: 187px;
  right: -100%;
  z-index: 10;
  background: #ffffff;
  box-sizing: border-box;
}
/* line 273, ../sass/mobile-b.scss */
.main-left h2.block-title {
  font-size: 16px;
  font-family: 'NeoSansPro-Medium';
  margin: 15px 0 10px;
}
/* line 278, ../sass/mobile-b.scss */
.main-left .rating {
  margin: 5px 0;
}
/* line 281, ../sass/mobile-b.scss */
.main-left .followers, .main-left .partners {
  margin: 5px 0;
  padding: 5px 0;
  border-top: 1px solid #dadada;
}
/* line 287, ../sass/mobile-b.scss */
.main-left .profile-block span {
  margin: 2px 0 10px;
  display: inline-block;
  font-family: 'NeoSansPro-Medium';
  color: #555555;
}
/* line 293, ../sass/mobile-b.scss */
.main-left .profile-block a {
  margin: 3px 0 20px;
  display: block;
  clear: both;
}
/* line 298, ../sass/mobile-b.scss */
.main-left .profile-block p {
  margin: 3px 0 0;
}
/* line 301, ../sass/mobile-b.scss */
.main-left .profile-block .profile-bar {
  height: 12px;
  width: 115px;
  background: #bbbdbf;
}
/* line 305, ../sass/mobile-b.scss */
.main-left .profile-block .profile-bar .profile-complete {
  width: 73px;
  height: 12px;
  background: #ed3237;
}

/* line 313, ../sass/mobile-b.scss */
.block {
  margin: 20px 0 5px;
}

/* line 316, ../sass/mobile-b.scss */
.main-middle {
  float: none;
  padding: 15px 0 10px 0;
  margin: auto;
  width: 95%;
}
/* line 321, ../sass/mobile-b.scss */
.main-middle .bread-crumb {
  display: block;
  line-height: 20px;
}
/* line 326, ../sass/mobile-b.scss */
.main-middle .tab-nav ul#tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 331, ../sass/mobile-b.scss */
.main-middle .tab-nav ul#tabs > li {
  display: inline-block;
  padding: 3px 0;
  margin: 0 25px 10px 0;
  cursor: pointer;
  font-size: 13px;
  position: relative;
}
/* line 340, ../sass/mobile-b.scss */
.main-middle .tab-nav ul#tabs > li.active {
  color: #cc0000;
}
/* line 343, ../sass/mobile-b.scss */
.main-middle .tab-nav div#tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 348, ../sass/mobile-b.scss */
.main-middle .tab-nav div#tab > div {
  display: block;
  padding: 10px;
  background: #f0f1f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* line 355, ../sass/mobile-b.scss */
.main-middle .tab-nav div#tab > div h2 {
  font-weight: 400;
  margin: 0px 0 10px;
}
/* line 360, ../sass/mobile-b.scss */
.main-middle select {
  width: 100%;
}
/* line 365, ../sass/mobile-b.scss */
.main-middle input[type='text'] {
  width: 100%;
}
/* line 370, ../sass/mobile-b.scss */
.main-middle .textbox_container:before {
  font-family: FontAwesome;
  content: "∩Çé";
  position: absolute;
  top: 4px;
  right: 5px;
}
/* line 377, ../sass/mobile-b.scss */
.main-middle .new_msg_link {
  padding-top: 5px;
}
/* line 379, ../sass/mobile-b.scss */
.main-middle .new_msg_link a {
  font-family: "NeoSansPro-Bold";
  font-size: 13px;
  text-decoration: underline;
}
/* line 385, ../sass/mobile-b.scss */
.main-middle .table {
  margin-bottom: 0;
  width: 100% !important;
  display: table;
}
/* line 391, ../sass/mobile-b.scss */
.main-middle .table thead tr th {
  border-bottom: 1px solid #dddddd;
  font-family: "NeoSansPro-Medium";
  padding-left: 0;
}
/* line 400, ../sass/mobile-b.scss */
.main-middle .table tbody tr td {
  padding-left: 0;
}
/* line 406, ../sass/mobile-b.scss */
.main-middle ul.bottom_text {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 410, ../sass/mobile-b.scss */
.main-middle ul.bottom_text li {
  width: 100%;
}
/* line 412, ../sass/mobile-b.scss */
.main-middle ul.bottom_text li ol {
  margin: 0 0 20px 15px;
  width: 100%;
}
/* line 415, ../sass/mobile-b.scss */
.main-middle ul.bottom_text li ol li {
  width: 100%;
  list-style-type: decimal;
  text-decoration: underline;
  margin-bottom: 2px;
}
/* line 424, ../sass/mobile-b.scss */
.main-middle .bottom_link {
  text-decoration: underline;
}

/* line 428, ../sass/mobile-b.scss */
.main-right {
  float: left;
  padding: 4%;
  position: absolute !important;
  border: 1px solid #eeeeee;
  top: 187px;
  right: -100%;
  z-index: 10;
  background: #ffffff;
  box-sizing: border-box;
}
/* line 438, ../sass/mobile-b.scss */
.main-right .left-top-text {
  margin: 0 0 10px 15px;
  display: block;
}
/* line 442, ../sass/mobile-b.scss */
.main-right h3.block-head {
  font-size: 15px;
  font-family: "NeoSansPro-Regular";
  margin: 0;
  background: #f0f1f1 none repeat scroll 0 0;
  box-sizing: border-box;
  padding: 9px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}
/* line 452, ../sass/mobile-b.scss */
.main-right h3.block-head.dark {
  background: #666666 none repeat scroll 0 0;
  color: #ffffff;
  font-family: "NeoSansPro-Regular";
  margin-bottom: 5px;
}
/* line 458, ../sass/mobile-b.scss */
.main-right .left-dropdown-text {
  font-family: "NeoSansPro-Bold";
  letter-spacing: normal;
  display: block;
  margin-bottom: 10px;
}
/* line 463, ../sass/mobile-b.scss */
.main-right .left-dropdown-text i {
  margin: 3px 5px 0 0;
  font-size: 12px;
  color: #727376 !important;
}
/* line 469, ../sass/mobile-b.scss */
.main-right .block {
  margin: 14px 0 15px;
  clear: both;
  display: block;
}
/* line 473, ../sass/mobile-b.scss */
.main-right .block i {
  font-size: 20px;
  color: #cfcfcf;
}
/* line 478, ../sass/mobile-b.scss */
.main-right select {
  margin-bottom: 10px;
}
/* line 482, ../sass/mobile-b.scss */
.main-right input[type='text'] {
  margin-bottom: 10px;
}
/* line 486, ../sass/mobile-b.scss */
.main-right .textbox_container:before {
  font-family: FontAwesome;
  content: "∩Çé";
  position: absolute;
  top: 4px;
  right: 5px;
}
/* line 493, ../sass/mobile-b.scss */
.main-right textarea {
  margin-bottom: 10px;
}
/* line 497, ../sass/mobile-b.scss */
.main-right p {
  font-family: "NeoSansPro-Regular";
}

/* line 501, ../sass/mobile-b.scss */
.padding-none {
  padding: 0 !important;
}

/* line 504, ../sass/mobile-b.scss */
.padding-right-none, .container.container-inner {
  padding-right: 0 !important;
}

/* line 507, ../sass/mobile-b.scss */
.padding-left-none, .container.container-inner {
  padding-left: 0 !important;
}

/* line 510, ../sass/mobile-b.scss */
.mobile-form-padding-1 {
  padding: 0 5px 0 0  !important;
}

/* line 513, ../sass/mobile-b.scss */
.mobile-form-padding-2 {
  padding: 0 0 0 5px  !important;
}

/* line 520, ../sass/mobile-b.scss */
.profile-block span {
  margin: 2px 0 20px;
  display: inline-block;
  font-family: 'NeoSansPro-Medium';
  color: #555555;
}
/* line 526, ../sass/mobile-b.scss */
.profile-block a {
  margin: 3px 0 20px;
  display: block;
  clear: both;
}
/* line 531, ../sass/mobile-b.scss */
.profile-block p {
  margin: 3px 0 2px;
}
/* line 534, ../sass/mobile-b.scss */
.profile-block .profile-bar {
  height: 12px;
  width: 115px;
  background: #bbbdbf;
}
/* line 538, ../sass/mobile-b.scss */
.profile-block .profile-bar .profile-complete {
  width: 73px;
  height: 12px;
  background: #ed3237;
}
/* line 544, ../sass/mobile-b.scss */
.profile-block h3.block-head {
  background: #f0f1f1 none repeat scroll 0 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "NeoSansPro-Regular";
  font-size: 12px;
  margin: 0 0 10px;
  padding: 9px 15px;
}

/* line 556, ../sass/mobile-b.scss */
.post-but a {
  border: 1px solid red;
  border-radius: 5px;
  display: block;
  font-family: "NeoSansPro-Medium";
  font-size: 14px;
  margin-bottom: 6px;
  padding: 5px 10px;
}

/* line 566, ../sass/mobile-b.scss */
.bg-red {
  background: #ff0000 none repeat scroll 0 0 !important;
  color: #fff;
}

/* line 571, ../sass/mobile-b.scss */
.profile-block ul {
  line-height: 22px;
  margin: 0px 10px;
}
/* line 574, ../sass/mobile-b.scss */
.profile-block ul li {
  padding-left: 15px;
}
/* line 578, ../sass/mobile-b.scss */
.profile-block ul li .active {
  background: url(../../../images/right-arrow.png) no-repeat left center;
  font-family: "NeoSansPro-Medium";
}

@media only screen and (max-width: 480px) {
  /* line 591, ../sass/mobile-b.scss */
  .mobile-fluid {
    width: 100% !important;
  }

  /* line 595, ../sass/mobile-b.scss */
  .table-responsive {
    padding: 10px !important;
  }

  /* line 598, ../sass/mobile-b.scss */
  .table-top {
    margin-bottom: 10px;
  }
}
/* line 618, ../sass/mobile-b.scss */
.mobile-nav {
  text-align: right;
  background: #ec3235;
  border: 1px solid cc0000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  float: right;
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
}
/* line 630, ../sass/mobile-b.scss */
.mobile-nav i {
  margin-left: 5px;
}

/* line 636, ../sass/mobile-b.scss */
.help, .number, .address, .search-icon, .login-icon, .chat, .email, .website {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
}

/* line 637, ../sass/mobile-b.scss */
.login-icon {
  float: right;
  background-image: url(../../../images/login.png);
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: center;
}

/* line 638, ../sass/mobile-b.scss */
.help {
  background-image: url(../../../images/help.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 639, ../sass/mobile-b.scss */
.number {
  background-image: url(../../../images/number.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 640, ../sass/mobile-b.scss */
.address {
  background-image: url(../../../images/address.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 641, ../sass/mobile-b.scss */
.search-icon {
  background-image: url(../../../images/search.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 642, ../sass/mobile-b.scss */
.chat {
  background-image: url(../../../images/chat.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 643, ../sass/mobile-b.scss */
.email {
  background-image: url(../../../images/email.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 644, ../sass/mobile-b.scss */
.website {
  background-image: url(../../../images/website.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* line 646, ../sass/mobile-b.scss */
.search-fld {
  position: absolute;
  left: 0;
  right: 0;
  padding: 12px 20px;
  top: 45px;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
}

/* line 647, ../sass/mobile-b.scss */
.mobile-hide {
  display: none !important;
}

/* line 648, ../sass/mobile-b.scss */
.mobile-show {
  display: inline-block !important;
}

/* line 650, ../sass/mobile-b.scss */
.login-dropdown li {
  position: unset !important;
}
/* line 652, ../sass/mobile-b.scss */
.login-dropdown li a {
  padding: 5px 0 !important;
}
/* line 656, ../sass/mobile-b.scss */
.login-dropdown .dropdown-menu {
  left: auto !important;
  right: 0 !important;
  width: 100% !important;
  padding: 5px 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-top: 0 !important;
}
/* line 665, ../sass/mobile-b.scss */
.login-dropdown .dropdown-menu li a {
  padding: 5px 10px !important;
}

/* line 671, ../sass/mobile-b.scss */
.mobile-padding-none {
  padding: 0 !important;
}

/* line 677, ../sass/mobile-b.scss */
.table-data .table-row div {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/* line 684, ../sass/mobile-b.scss */
.table-details div:nth-child(1) {
  text-align: left;
}

/* line 687, ../sass/mobile-b.scss */
.table-details div:nth-child(2) {
  text-align: center;
}

/* line 690, ../sass/mobile-b.scss */
.table-details div:nth-child(3) {
  text-align: right;
}

/* line 692, ../sass/mobile-b.scss */
.table-slide {
  border: 1px solid #dadada;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px !important;
  display: none;
  margin-top: 5px;
}

/* line 700, ../sass/mobile-b.scss */
.table-control {
  background: #ffffff !important;
}
/* line 702, ../sass/mobile-b.scss */
.table-control div {
  background: #ffffff !important;
}
/* line 705, ../sass/mobile-b.scss */
.table-control div:first-child {
  margin: 5px 0 10px !important;
}

/* line 709, ../sass/mobile-b.scss */
.table-row {
  padding: 0 5px !important;
  background-color: #f0f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 0 0;
}

/* line 715, ../sass/mobile-b.scss */
.detailsslide {
  cursor: pointer;
}

/* line 716, ../sass/mobile-b.scss */
.table-head {
  margin: 10px 0 !important;
  padding: 0 5px !important;
  display: table;
}

/* line 721, ../sass/mobile-b.scss */
.post-button a {
  border: 1px solid red;
  border-radius: 5px;
  display: block;
  font-family: "NeoSansPro-Medium";
  font-size: 14px;
  margin-bottom: 6px;
  padding: 8px 16px;
}

/* line 732, ../sass/mobile-b.scss */
.bootstrap-select .btn {
  font-size: 12px !important;
  padding-left: 7px !important;
  padding-top: 8px !important;
  padding-bottom: 7px !important;
}

/* line 739, ../sass/mobile-b.scss */
.black-btn {
  background: #808184 none repeat scroll 0 0 !important;
  border: 1px solid #808184 !important;
  color: #fff;
  font-size: 13px;
  padding: 7px 20px;
}
/* line 745, ../sass/mobile-b.scss */
.black-btn:hover {
  background: #fff !important;
}

/* line 749, ../sass/mobile-b.scss */
.radio-inline, .checkbox-inline {
  padding: 0 !important;
}

/* line 752, ../sass/mobile-b.scss */
.radio label, .checkbox label {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 756, ../sass/mobile-b.scss */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin: 0 5px 0 0 !important;
  position: relative !important;
}

/* line 760, ../sass/mobile-b.scss */
.align-padding-div {
  padding-bottom: 11px !important;
}

/* line 763, ../sass/mobile-b.scss */
.margin-top {
  margin-top: 10px !important;
}

/* line 766, ../sass/mobile-b.scss */
.margin-top.bold p {
  margin-bottom: 10px !important;
}

/* line 769, ../sass/mobile-b.scss */
.margin-bottom {
  margin-bottom: 10px !important;
}

/* line 772, ../sass/mobile-b.scss */
.mobile-margin-top {
  margin-top: 10px !important;
}

/* line 775, ../sass/mobile-b.scss */
.margin-none {
  margin: 0 !important;
}

/* line 778, ../sass/mobile-b.scss */
.low-top-padding {
  padding-top: 0 !important;
}

/* line 781, ../sass/mobile-b.scss */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100% !important;
  box-sizing: border-box !important;
}

/* line 785, ../sass/mobile-b.scss */
input[type="radio"], input[type="checkbox"] {
  margin: 0 5px 0 0 !important;
}

/* line 788, ../sass/mobile-b.scss */
.gray_bg {
  background: #f0f1f1;
  padding: 10px 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

/* line 797, ../sass/mobile-b.scss */
.form-group {
  margin-bottom: 10px;
}

/* line 800, ../sass/mobile-b.scss */
.superscript {
  position: absolute;
  top: -4px;
}

/* line 804, ../sass/mobile-b.scss */
.post-button {
  margin: 0 !important;
  width: 100% !important;
  text-align: center !important;
}

/* line 809, ../sass/mobile-b.scss */
.calendar {
  background-color: #fff !important;
  background-image: url("../../../images/calendar-icon.png") !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: right center !important;
  margin-bottom: 0px !important;
}

/* line 817, ../sass/mobile-b.scss */
.form-group1 {
  margin-bottom: 10px !important;
  clear: both !important;
  display: table;
  width: 100%;
}
/* line 822, ../sass/mobile-b.scss */
.form-group1 ul {
  margin-bottom: 0 !important;
}

/* line 826, ../sass/mobile-b.scss */
.font-bold {
  font-family: "NeoSansPro-Medium";
}

/* line 830, ../sass/mobile-b.scss */
label {
  margin: 0px 0px 10px 0px;
}

/* line 833, ../sass/mobile-b.scss */
.heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 838, ../sass/mobile-b.scss */
.heading span {
  font-weight: normal !important;
  font-size: 12px;
}

/* line 842, ../sass/mobile-b.scss */
.mobile-clearfix {
  clear: both;
}

/* line 845, ../sass/mobile-b.scss */
.border-top {
  border-top: 1px solid #dddddd;
  padding-top: 10px !important;
}

/* line 849, ../sass/mobile-b.scss */
.gry-btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 865, ../sass/mobile-b.scss */
.red-btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background: #ed1c24;
  color: #fff;
}

/* line 883, ../sass/mobile-b.scss */
.orange-btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background: #f58465;
  color: #fff;
}

/* line 902, ../sass/mobile-b.scss */
.btn-black {
  background: #808184 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 13px;
  padding: 4px 10px;
}

/* line 909, ../sass/mobile-b.scss */
textarea.form-control {
  font-size: 12px !important;
}

/* line 912, ../sass/mobile-b.scss */
h5 {
  font-size: 14px;
  margin: 8px 0;
}

/* line 916, ../sass/mobile-b.scss */
.mo-margin-right {
  margin-right: 10px;
}

/* line 919, ../sass/mobile-b.scss */
.main-right-10 {
  margin-right: 10px;
}

/* ptl mobile.css styles add start */
/* line 925, ../sass/mobile-b.scss */
.profile-bar {
  height: 10px;
  width: 100%;
  background: #bbbdbf;
}
/* line 929, ../sass/mobile-b.scss */
.profile-bar .profile-complete {
  width: 59%;
  height: 10px;
  background: #ed3237;
}

/* line 936, ../sass/mobile-b.scss */
.form-group select {
  margin-bottom: 0 !important;
}
/* line 939, ../sass/mobile-b.scss */
.form-group input {
  margin-bottom: 0 !important;
}

/* line 943, ../sass/mobile-b.scss */
.fluid-btn {
  width: 100% !important;
}

/* line 946, ../sass/mobile-b.scss */
.heading {
  font-size: 14px;
  font-weight: bold;
}

/* line 950, ../sass/mobile-b.scss */
.main-right-10 {
  margin-right: 10px !important;
}

/* line 953, ../sass/mobile-b.scss */
.border-bottom {
  border-bottom: 2px solid #e8e8e8;
  display: table;
}

/* line 957, ../sass/mobile-b.scss */
.red {
  color: #ff0000;
}

/* line 960, ../sass/mobile-b.scss */
.mobile-top-margin {
  margin-top: 10px !important;
}

/* line 964, ../sass/mobile-b.scss */
.main-middle select {
  width: 100%;
}
/* line 968, ../sass/mobile-b.scss */
.main-middle input[type="text"] {
  width: 100%;
}

/* line 974, ../sass/mobile-b.scss */
.border-top {
  border-top: 1px solid #dddddd;
  padding-top: 10px !important;
}

/* line 978, ../sass/mobile-b.scss */
.heading {
  font-size: 14px;
  font-weight: bold;
}

/* line 982, ../sass/mobile-b.scss */
.space-10px {
  padding: 10px;
  width: 100%;
  float: left;
}

/* line 988, ../sass/mobile-b.scss */
.right-menu li {
  width: 100%;
  float: left;
  padding: 5px 0px;
}
/* line 992, ../sass/mobile-b.scss */
.right-menu li .fa {
  margin: 0px 10px 0px 0px;
}

/* line 997, ../sass/mobile-b.scss */
.right-head {
  background: #f0f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  clear: both;
  margin: 7px 0;
  padding: 9px;
}

/* line 1004, ../sass/mobile-b.scss */
.grey {
  background: #808184;
  color: #fff;
  font-family: "NeoSansPro-Regular";
  margin: 0 0 2px 0;
  font-size: 14px;
}

/* line 1012, ../sass/mobile-b.scss */
.trans_bg {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 185px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 10;
}

/* ptl mobile.css styles end */
/* line 1025, ../sass/mobile-b.scss */
.margin-top {
  margin-top: 10px;
}

/* line 1028, ../sass/mobile-b.scss */
.btn-group.bootstrap-select {
  margin-bottom: 10px;
}

/* line 1046, ../sass/mobile-b.scss */
.form-group.tab-wdth {
  display: table;
  width: 100%;
}

/* line 1050, ../sass/mobile-b.scss */
.margin-left {
  margin-left: 10px;
}

/* line 1053, ../sass/mobile-b.scss */
.form-control {
  font-size: 12px !important;
}

/* line 1056, ../sass/mobile-b.scss */
.inline-block-list > li {
  display: inline-block;
  margin-right: 15px;
}

/* line 1060, ../sass/mobile-b.scss */
.bold-text {
  font-family: "NeoSansPro-Medium";
}

/* line 1063, ../sass/mobile-b.scss */
.underline {
  text-decoration: underline;
}

/* line 1066, ../sass/mobile-b.scss */
.comm-img {
  padding-bottom: 20px;
  width: 100%;
}

/* line 1071, ../sass/mobile-b.scss */
.thankyou h4 {
  font-size: 15px;
}
/* line 1074, ../sass/mobile-b.scss */
.thankyou p {
  margin: 15px 0px;
  font-size: 14px;
}
