/* -------------------- FONT FAMILY ---------------------*/
@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url("../../../fonts/NeoSansPro-Regular.eot");
  src: url("../../../fonts/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Regular.woff") format("woff"), url("../../../fonts/NeoSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-Bold.eot");
  src: url("../../../fonts/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Bold.woff") format("woff"), url("../../../fonts/NeoSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-Light.eot");
  src: url("../../../fonts/NeoSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Light.woff") format("woff"), url("../../../fonts/NeoSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-Italic.eot");
  src: url("../../../fonts/NeoSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Italic.woff") format("woff"), url("../../../fonts/NeoSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'NeoSansPro-Medium';
  src: url("../../../fonts/NeoSansPro-Medium.eot");
  src: url("../../../fonts/NeoSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-Medium.woff") format("woff"), url("../../../fonts/NeoSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro';
  src: url("../../../fonts/NeoSansPro-MediumItalic.eot");
  src: url("../../../fonts/NeoSansPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/NeoSansPro-MediumItalic.woff") format("woff"), url("../../../fonts/NeoSansPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* -------------------- VARIABLES ---------------------*/
/* -------------------- MIXINS ---------------------*/
/* line 94, ../sass/stylesheet.scss */
.select {
  font-family: "NeoSansPro-Regular";
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  font-size: 12px;
}

/* line 102, ../sass/stylesheet.scss */
.input_txt {
  font-family: "NeoSansPro-Regular";
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  font-size: 12px;
}

/* line 110, ../sass/stylesheet.scss */
.textarea {
  font-family: "NeoSansPro-Regular";
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  resize: none;
  height: 150px;
  font-size: 12px;
}

/* -------------------- MAIN CSS ---------------------*/
/* line 123, ../sass/stylesheet.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "NeoSansPro-Regular" !important;
  font-size: 12px !important;
  color: #727376 !important;
}

/* line 131, ../sass/stylesheet.scss */
a {
  text-decoration: none;
  color: #727376 !important;
}
/* line 134, ../sass/stylesheet.scss */
a:hover {
  color: #cc0000 !important;
  text-decoration: none !important;
}

/* Divya Styles start here */
/* line 140, ../sass/stylesheet.scss */
.search {
  background-color: #fff !important;
  background-image: url(../../../images/search-icon.png) !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: right center !important;
}

/* line 148, ../sass/stylesheet.scss */
.top-strip-inner .top-text-fld {
  width: 190px;
}

/* line 153, ../sass/stylesheet.scss */
.main-right h3.block-head {
  margin: 0px 0px 5px 0px;
}

/* line 158, ../sass/stylesheet.scss */
.main-right .block {
  margin: 0;
}
/* line 161, ../sass/stylesheet.scss */
.main-right .right-menu {
  margin: 0;
}

/* line 166, ../sass/stylesheet.scss */
.profile-block h3.block-head {
  margin-bottom: 5px;
}

/* line 170, ../sass/stylesheet.scss */
.right-head {
  background: #f0f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  clear: both;
  margin: 7px 0;
  padding: 9px;
}

/* line 177, ../sass/stylesheet.scss */
.grey {
  background: #808184;
  color: #fff;
  font-family: "NeoSansPro-Regular";
  margin: 0 0 2px 0;
  font-size: 14px;
}

/* line 185, ../sass/stylesheet.scss */
.border-bottom {
  border-bottom: 2px solid #e8e8e8;
}

/* line 188, ../sass/stylesheet.scss */
.border-bottom-red {
  border-bottom: 2px solid red;
}

/* line 192, ../sass/stylesheet.scss */
.post-button a {
  border: 1px solid red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-family: "NeoSansPro-Medium";
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 6px;
  padding: 8px 16px;
  text-align: center;
}

/* line 204, ../sass/stylesheet.scss */
.padding-left {
  padding-left: 0 !important;
}

/* line 208, ../sass/stylesheet.scss */
.main-middle input[type="checkbox"], .main-middle input {
  margin-bottom: 10px;
}

/* line 212, ../sass/stylesheet.scss */
input[type="radio"] {
  margin-top: 1px !important;
}

/* line 215, ../sass/stylesheet.scss */
.bold {
  font-family: neosanspro-medium;
}

/* line 218, ../sass/stylesheet.scss */
.margin-top {
  margin-top: 10px;
}

/* line 221, ../sass/stylesheet.scss */
.margin-more {
  margin: 30px 0 0 0;
}

/* line 224, ../sass/stylesheet.scss */
.mobile-fluid.small-width {
  width: 35%;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  /* line 229, ../sass/stylesheet.scss */
  .mobile-fluid.small-width {
    width: 50%;
  }
}
/* line 233, ../sass/stylesheet.scss */
.bold-text {
  font-family: "NeoSansPro-Medium";
}

/* line 236, ../sass/stylesheet.scss */
.table-boder {
  float: left;
  margin-bottom: 0 !important;
  padding: 15px 0 10px;
  width: 100%;
}

/* line 242, ../sass/stylesheet.scss */
.red-border {
  border-bottom: 2px solid red;
}

/* line 243, ../sass/stylesheet.scss */
.post-plus a {
  padding: 8px;
}

/* line 244, ../sass/stylesheet.scss */
.underline {
  text-decoration: underline;
}

/* line 245, ../sass/stylesheet.scss */
.inline-block-list > li {
  margin-right: 2px;
  display: inline-block;
}

/* line 249, ../sass/stylesheet.scss */
.inline-block-list a {
  border-right: 1px solid #222;
  padding-right: 11px;
}

/* line 253, ../sass/stylesheet.scss */
.inline-block-list li:last-child a {
  border-right: none;
}

/* line 256, ../sass/stylesheet.scss */
.full-width {
  width: 100%;
  display: table;
}
/* line 259, ../sass/stylesheet.scss */
.full-width .first-width {
  width: 50%;
  vertical-align: top;
  display: table-cell;
}
/* line 264, ../sass/stylesheet.scss */
.full-width .second-width {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #fcfcfc;
}
/* line 269, ../sass/stylesheet.scss */
.full-width .second-width .btn-grey {
  margin: 0px 3px 5px;
}
/* line 272, ../sass/stylesheet.scss */
.full-width .second-width span {
  display: block;
  padding: 10px 0 0;
}

/* line 279, ../sass/stylesheet.scss */
.inline-block ul {
  display: block;
  margin: 10px 0px;
}
/* line 282, ../sass/stylesheet.scss */
.inline-block ul li.text-left {
  display: inline-block;
  width: 23%;
  vertical-align: top;
}
/* line 287, ../sass/stylesheet.scss */
.inline-block ul li.text-left.more-padding {
  padding-left: 50px;
}
/* line 290, ../sass/stylesheet.scss */
.inline-block ul li.text-left.small-width {
  width: 4%;
}
/* line 294, ../sass/stylesheet.scss */
.inline-block ul li.text-left.full-width {
  width: 60%;
}
/* line 297, ../sass/stylesheet.scss */
.inline-block ul .right-text {
  float: right;
  text-align: right;
}

/* line 305, ../sass/stylesheet.scss */
.table-view h4 {
  margin-bottom: 0px;
}

/* line 309, ../sass/stylesheet.scss */
.red {
  color: red !important;
}

/* line 312, ../sass/stylesheet.scss */
.no-border-right li a {
  border-right: 0 none;
}

/* line 315, ../sass/stylesheet.scss */
.small-width textarea {
  border: 1px solid #cecece;
  border-radius: 4px;
  font-family: "NeoSansPro-Regular";
  font-size: 12px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/* line 324, ../sass/stylesheet.scss */
.main-right-10 {
  margin-right: 10px;
}

/* line 327, ../sass/stylesheet.scss */
input[type="checkbox"] {
  margin-right: 5px !important;
}
